node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Excel
*.xlsx
*.xls
*.xlsm
*.xlsb
*.xltx
*.xltm

svelte-kit
node_modules

#除了src/lib/chartopinyin.ts外，/lib中的其它文件都不提交
src/lib/*
!src/lib/chartopinyin.ts
!src/lib/components/
